.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

*fastqc.html
*fastqc.zip
*fastq.gz
multiqc*
/data/output/qc_reports/cabbi_mxg
/data/output/qc_reports/cabbi_sabr
/data/output/phyloseq_objects/filtered_phyloseq_df.csv
/data/output/phyloseq_objects/unfiltered_phyloseq.rda
/data/output/phyloseq_objects/filtered_phyloseq.rda
/data/output/core_summary_lists.rda

# Reports
notebooks/brc_report_files/*
notebooks/jbei_brc_report_files/*